*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 200px;
}
.result_score{
    width: 190px;
    height: 70px;
    border: 2px solid black;
    border-radius: 32px;
    font-size: x-large;
    font-weight: bolder;
    padding: 12px;
    display: none;
    background-color: darkcyan;
    color: blue;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.play{
    display:none;
    font-size: x-large;
    font-weight: bolder;
    width: 200px;
    height: 70px;
    border: 2px solid black;
    background-color: darkcyan;
    border-radius: 32px;
    color: blue;
    cursor: pointer;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}
.score-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    background-color:#22C1C3;
    color:blue;
    margin-bottom: 12px;
}
.item-target{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 320px;
   
}
.timer{
    padding: 12px;
    padding-bottom: 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.timer_count{
    width: 80px;
    border: 1px solid black;
    text-align: center;
    padding: 16px;
    border-radius: 32px;
    color: red;
    font-weight: bolder;
    font-size: larger;
}
.score-btn{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    font-size: larger;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 320px;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 12px;
    padding: 12px;

}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 320px;
  cursor: pointer;

}